In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('/Users/ghassenabdedayem/Documents/Data/Immo/First_model/appartement_2015_2019.csv', index_col=0, parse_dates=['Date_mutation'])
df.drop(columns=['Id'], inplace=True)
print(df.shape)
df.tail()

(152044, 15)

,Date_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Code_type_local,Type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
1048559,2019-09-13,150000.0,110.0,RUE,PAUL BELLAMY,44000.0,NANTES,44,2.0,Appartement,44.0,2.0,NaN,NaN,NaN
1048560,2019-09-27,327152.0,28.0,RUE,MAL JOFFRE,44000.0,NANTES,44,2.0,Appartement,92.0,3.0,NaN,NaN,NaN
1048568,2019-09-26,160000.0,20.0,BD,VAN ISEGHEM,44000.0,NANTES,44,2.0,Appartement,32.0,1.0,NaN,NaN,NaN
1048570,2019-09-27,212000.0,14.0,AV,DU CIMETIERE ST CLAIR,44100.0,NANTES,44,2.0,Appartement,79.0,3.0,NaN,NaN,NaN
1048572,2019-09-27,89209.0,135.0,BD,DE LA LIBERTE,44100.0,NANTES,44,2.0,Appartement,22.0,1.0,NaN,NaN,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152044 entries, 0 to 1048572
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date_mutation              152044 non-null  datetime64[ns]
 1   Valeur_fonciere            151609 non-null  float64
 2   No_voie                    151039 non-null  float64
 3   Type_de_voie               145612 non-null  object
 4   Voie                       152044 non-null  object
 5   Code_postal                152039 non-null  float64
 6   Commune                    152044 non-null  object
 7   Code_departement           152044 non-null  object
 8   Code_type_local            152044 non-null  float64
 9   Type_local                 152044 non-null  object
 10  Surface_reelle_bati        152040 non-null  float64
 11  Nombre_pieces_principales  152040 non-null  float64
 12  Nature_culture             35124 non-null   object
 13  Nature_culture_speciale    729 non-null     object
 14  Surface_terrain            35124 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(7)
memory usage: 18.6+ MB

In [24]:
df.columns

Index(['Date_mutation', 'Valeur_fonciere', 'No_voie', 'Type_de_voie', 'Voie',
       'Code_postal', 'Commune', 'Code_departement', 'Code_type_local',
       'Type_local', 'Surface_reelle_bati', 'Nombre_pieces_principales',
       'Nature_culture', 'Nature_culture_speciale', 'Surface_terrain'],
      dtype='object')

In [25]:
from functions import double_to_int

In [36]:
df[df['Valeur_fonciere'].isna()].shape
df.dropna(axis=0, inplace=True, subset=['Valeur_fonciere'])
df[df['Valeur_fonciere'].isna()].shape

(0, 15)

In [41]:
df.dropna(axis=0, inplace=True, subset=['Nombre_pieces_principales'])

In [43]:
df.drop(columns=['Nature_culture', 'Nature_culture_speciale'], inplace=True)

In [49]:
print(df.shape)
print(df.dropna(axis=0, subset=['Code_postal']).shape)
# df[df['Code_postal'].isna()].head()
df[df['Commune'] == 'GAP'].head()

(151605, 13)
(151600, 13)

,Date_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Code_type_local,Type_local,Surface_reelle_bati,Nombre_pieces_principales,Surface_terrain
65899,2019-01-03,118000.0,4.0,RUE,DE L IMPRIMERIE,5000.0,GAP,5,2.0,Appartement,23.0,1.0,NaN
65900,2019-01-03,118000.0,4.0,RUE,DE L IMPRIMERIE,5000.0,GAP,5,2.0,Appartement,40.0,2.0,NaN
65907,2019-01-08,130000.0,13.0,RUE,DE VALSERRES,5000.0,GAP,5,2.0,Appartement,103.0,5.0,NaN
65910,2019-01-08,149350.0,39.0,RUE,GEORGES POUGET,5000.0,GAP,5,2.0,Appartement,71.0,4.0,NaN
65916,2019-01-09,207000.0,2.0,RUE,DES LAVANDINS,5000.0,GAP,5,2.0,Appartement,100.0,4.0,NaN

In [50]:
df.drop(columns=['Type_local', 'Code_type_local', 'Surface_terrain'], inplace = True)
df.head()

,Date_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales
0,2019-01-04,37220.0,26.0,RUE,DE MONTHOLON,1000.0,BOURG-EN-BRESSE,1,20.0,1.0
1,2019-01-04,185100.0,22.0,RUE,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,1,62.0,3.0
9,2019-01-04,65000.0,50.0,RUE,DOC NODET,1000.0,BOURG-EN-BRESSE,1,69.0,3.0
10,2019-01-04,37000.0,68.0,AV,DE MACON,1000.0,BOURG-EN-BRESSE,1,39.0,1.0
36,2019-01-07,75000.0,5362.0,NaN,LA MORANDIERE,1240.0,CERTINES,1,53.0,2.0

In [52]:
print(df.dropna(axis=0, subset=['Surface_reelle_bati']).shape)

(151605, 10)

In [69]:
df['prix_par_m'] = df['Valeur_fonciere'] / df['Surface_reelle_bati']
df[df['Code_postal'] == 44000.0 ].tail()

,Date_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,Surface_reelle_bati,Nombre_pieces_principales,prix_par_m
1048545,2019-09-20,429389.3,2.0,RUE,DE LA PAIX,44000.0,NANTES,44,120.0,4.0,3578.244167
1048558,2019-09-13,150000.0,110.0,RUE,PAUL BELLAMY,44000.0,NANTES,44,1.0,0.0,150000.000000
1048559,2019-09-13,150000.0,110.0,RUE,PAUL BELLAMY,44000.0,NANTES,44,44.0,2.0,3409.090909
1048560,2019-09-27,327152.0,28.0,RUE,MAL JOFFRE,44000.0,NANTES,44,92.0,3.0,3556.000000
1048568,2019-09-26,160000.0,20.0,BD,VAN ISEGHEM,44000.0,NANTES,44,32.0,1.0,5000.000000