In [2]:
sys.path.insert(1, '/Users/ghassenabdedayem/Documents/Data/Immo/Services')

In [4]:
import pandas as pd
print('hello')

df = pd.read_csv('/Users/ghassenabdedayem/Documents/Data/Immo/Destination_2015_2019.csv')
df.head()

hello

/Users/ghassenabdedayem/opt/anaconda3/envs/immo_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10,11,13,15,17,19,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,...,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,0,1,2019-04-01,Vente,37220.0,26.0,RUE,DE MONTHOLON,1000.0,BOURG-EN-BRESSE,...,NaN,NaN,1,2.0,Appartement,20.0,1.0,NaN,NaN,NaN
1,1,1,2019-04-01,Vente,185100.0,22.0,RUE,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,...,NaN,NaN,2,2.0,Appartement,62.0,3.0,NaN,NaN,NaN
2,2,1,2019-04-01,Vente,185100.0,22.0,RUE,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3,3,1,2019-08-01,Vente,209000.0,3.0,RUE,DES CHAMPAGNES,1160.0,PRIAY,...,NaN,NaN,0,1.0,Maison,90.0,4.0,S,NaN,940.0
4,4,1,2019-07-01,Vente,134900.0,5.0,LOT,LE BIOLAY,1370.0,SAINT-ETIENNE-DU-BOIS,...,NaN,NaN,0,1.0,Maison,101.0,5.0,S,NaN,490.0

In [2]:
df.head()

,Unnamed: 0,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,...,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,0,1,2019-04-01,Vente,37220.0,26.0,RUE,DE MONTHOLON,1000.0,BOURG-EN-BRESSE,...,NaN,NaN,1,2.0,Appartement,20.0,1.0,NaN,NaN,NaN
1,1,1,2019-04-01,Vente,185100.0,22.0,RUE,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,...,NaN,NaN,2,2.0,Appartement,62.0,3.0,NaN,NaN,NaN
2,2,1,2019-04-01,Vente,185100.0,22.0,RUE,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3,3,1,2019-08-01,Vente,209000.0,3.0,RUE,DES CHAMPAGNES,1160.0,PRIAY,...,NaN,NaN,0,1.0,Maison,90.0,4.0,S,NaN,940.0
4,4,1,2019-07-01,Vente,134900.0,5.0,LOT,LE BIOLAY,1370.0,SAINT-ETIENNE-DU-BOIS,...,NaN,NaN,0,1.0,Maison,101.0,5.0,S,NaN,490.0